body {
    background-image: url(./basketball-on-fire-png.webp);
    background-position: left;
    background-size: 320px;
    background-repeat: no-repeat;
    background-color: orangered;
    font-family: 'Bungee', cursive;
}

.menu_topo {
    border-color: brown;
}

.confirmar {
    background-color: brown;
    background-image: url(./Basketball-Ball-PNG-Image.png);
}

.navbarSupportedContent{
    background-color:  brown;
}